@charset "utf-8";

@media screen and (max-width:537px) and (min-width:376px) {


* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	font-size: 1.25vw;
	text-align: center;
	background: #f5f5f5;
	font-family: "Segoe UI",SegoeUI,"メイリオ", Meiryo,sans-serif;
}

li {
	list-style-type: none;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #000;
}

h1 {
	font-size: 6.8vw;
	font-weight: normal;
}

h1 > span {
	font-size: 3.75vw;
	font-weight: bold;
	padding-left: 1vw;
}

h2 {
	font-size: 5vw;
}

h2 > span {
	display: block;
	font-size: 3.75vw;
	margin-top: -1.87vw;
}



/*ヘッダー*/
header {
	width: 100%;
	height: 12.5vw;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: #f3ecda;
	line-height: 12.5vw;
}

.title {
	width: 50%;
	display: flex;
}

header img {
	width: 10vw;
	height: 10vw;
	display: inline-block;
	margin: 1.25vw;
}

.titleNav {
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: #f3ecda;
	position: absolute;
	top: 12.5vw;
	left: 0;
	transform: translateY(-120vh);
	transition: 0.6s;
	opacity: 0;
}



nav ul {
	margin: 6.8vw 0;
}

nav li {
	width: 100%;
	font-size: 3.13vw;
	line-height: 10vw;
}

.scrollSns {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.scrollSns p {
	font-size: 4.37vw;
	padding: 5vw;
	order: 2;
}

.search {
	width: 100%;
	order: 1;
}

.search input {
	width: 40%;
	border-radius: 2.5vw;
}

.active {
	transform: translateY(0);
	opacity: 1;
}

.Toggle {
	position: fixed;
	right: 5.6vw;
	top: 1.25vw;
	width: 5.6vw;
	height: 5.6vw;
	cursor: pointer;
	z-index: 3;
}

.Toggle span {
	display: block;
	position: absolute;
	width: 5.6vw;
	border-bottom: solid 0.5vw #000;
	transition: 0.35s ease-in-out;
	left: 1.64vw;
}

.Toggle span:nth-child(1) {
	top: 2.46vw;
}

.Toggle span:nth-child(2) {
	top: 4.92vw;
}

.Toggle span:nth-child(3) {
	top: 7.38vw;
}

.Toggle.active span:nth-child(1) {
	top: 4.92vw;
	left: 1.64vw;
	transform: rotate(-45deg);
}

.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
	top: 4.92vw;
	transform: rotate(45deg);
}





/*パンくずリスト*/
.breadcrumb {
	display: flex;
	margin-top: 12.5vw;
	line-height: 5.6vw;
}

.breadcrumb i {
	margin-right: 1.5vw;
}

.breadcrumb > li:first-child::after {
	display: inline-block;
	content: ">";
	width: 1.25vw;
	height: 1.25vw;
	padding-left: 2vw;
}

.breadcrumb > li {
	margin: 1vw 2vw;
}

.breadcrumb > li:first-child {
	margin-right: 0;
}







/*トップへ戻る*/
.backTop {
	width: 100px;
	height: 0px;
	position: fixed;
	bottom: -50px;
	right: 2.3vw;
	z-index: 9;
	display: none;
	transition: 0.2s;
}

.backTop img {
	display: block;
	width: 100%;
	vertical-align: baseline;
}

.backTop:hover {
	transition: 0.5s;
	bottom: 0;
}



/*ページタイトル*/
h2 {
	width: 100%;
	padding: 1.1vw;
	background: url("../img/title.png") no-repeat center/cover;
}

h2 > span {
	display: block;
	font-size: 1.25vw;
	margin-top: -0.5vw;
}





.sliderContainer {
	width: 84%;
	margin: 2.5vw auto;
	display: flex;
	flex-wrap: wrap;
}

.slider {
	margin: 0px 6% 0 0;
	width: 61%;
}

.calendar {
	width: 33%;
	height: 10vw;
}

.calendar > img {
	display: block;
	width: 100%;
	height: 100;
}


.slider img {
	width: 100%;
	height: 24vw;
}

.thumb {
	width: 102%;
	margin: 2.5vw -1vw 0;
}

.thumb li {
	margin: 0 1vw;
}

.thumb img {
	display: inline-block;
	width: 100%;
	height: 12.6vw;
}








h3 {
	font-size: 1.87vw;
}

h3 > span {
	display: block;
	font-size: 1.64vw;
	margin-top: -1vw;
}



/*お知らせ*/
.news {
	width: 100%;
	position: relative;
	margin: 4vw auto;
}

.news > p {
	width: 11.9%;
	min-width: 60px;
	line-height: 2.8vw;
	position: absolute;
	top: 2.0vw;
	right: 15.3vw;
	background: #0c9bf6;
}

.news > p > a {
	width: 100%;
	height: 100%;
}

.news > p:hover {
	opacity: 0.6;
}

.newsContent {
	width: 84%;
	margin: 2.65vw auto;
	display: flex;
	justify-content: space-between;
}

.newsBN {
	width: 18.4%;
	line-height: 3vw;
	background: #fff;
	border-radius: 1.1vw;
	box-shadow: 0 3px 6px #bbb;
}

.newsBN li::before {
	content: ">";
	margin: 0 1vw 0 -1vw;
}


.newsMain {
	width: 78%;
	background: #fff;
	border-radius: 1.1vw;
	box-shadow: 0 3px 6px #bbb;
}


.newsMain > dl {
	display: flex;
	border-bottom: solid 1px #000;
	margin: 10px 20px;
}

.newsContent dt {
	width: 12vw;
}

.newsContent dd {
	margin-left: 20px;
}



/*年間スケジュール*/
.time > div {
	width: 84.4%;
	margin: 2.5vw auto;
	padding: 2.5vw 0;
	background: #fff;
	box-shadow: 0 3px 6px #bbb;
	border-radius: 1.1vw;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

th, td {
	border: solid 1px #bbb;
	padding: 1vw 0.5vw;
}

tr > td:last-child {
	text-align: left;
}

tr:first-child > th {
	border: none;
	padding-bottom: 1vw;
}

tr > th:first-child {
	border-left: none;
}

tr:nth-child(2) > th, tr:nth-child(2) > td {
	border-top: none;
}

tr > td:last-child {
	border-right: none;
}

tr:last-child > th, tr:last-child > td {
	border-bottom: none;
}




/*フッター*/
footer {
	width: 100%;
	line-height: 7.5vw;
	background: #f3ecda;
}


}