@charset "utf-8";

@media all and (min-width:376px) {


* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	font-size: 1.25vw;
	text-align: center;
	background: #f5f5f5;
	font-family: "Segoe UI",SegoeUI,"メイリオ", Meiryo,sans-serif;
}

li {
	list-style-type: none;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #000;
}

h1 {
	font-size: 3.15vw;
	font-weight: normal;
	margin-top: -0.5vw;
}

h1 > span {
	font-size: 1.87vw;
	margin-left: 0.5vw;
	font-weight: bold;
}

h2 {
	font-size: 1.87vw;
}



/*ヘッダー*/
header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: #f3ecda;
	line-height: 7.2vw;
}

.title {
	width: 26%;
	min-width: 105px;
	display: flex;
	align-items: center;
}

header img {
	width: 4.7vw;
	height: 4.7vw;
	display: inline-block;
	margin: 1.1vw;
}

.titleNav {
	width: 74%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav {
	width: 65%;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

nav li {
	width: 20%;
	min-width: 50px;
}

.scrollSns {
	width: 35%;
	min-width: 110px;
	display: flex;
	justify-content: space-around;
}

.scrollSns p {
	padding: 1.5%;
}

.search input {
	width: 85%;
	border-radius: 1.1vw;
	margin-top: 2.5vw;
}

.Toggle {
	display: none;
}




/*パンくずリスト*/
.breadcrumb {
	display: flex;
	margin-top: 7.2vw;
	line-height: 2.5vw;
}

.breadcrumb i {
	margin-right: 0.5vw;
}

.breadcrumb > li:first-child::after {
	display: inline-block;
	content: ">";
	width: 1.25vw;
	height: 1.25vw;
	padding-left: 2vw;
}

.breadcrumb > li {
	margin: 1vw 2vw;
}

.breadcrumb > li:first-child {
	margin-right: 0;
}







/*トップへ戻る*/
.backTop {
	width: 100px;
	height: 0px;
	position: fixed;
	bottom: -50px;
	right: 2.3vw;
	z-index: 9;
	display: none;
	transition: 0.2s;
}

.backTop img {
	display: block;
	width: 100%;
	vertical-align: baseline;
}

.backTop:hover {
	transition: 0.5s;
	bottom: 0;
}




/*ページタイトル*/
h2 {
	width: 100%;
	padding: 1.1vw;
	background: url("../img/title.png") no-repeat center/cover;
}

h2 > span {
	display: block;
	font-size: 1.25vw;
	margin-top: -0.5vw;
}


.blog {
	width: 83%;
	margin: 2.5vw auto;
	display: flex;
	justify-content: space-between;
}

/*左側*/
.blogLeft {
	width: 73%;
}

.blogTitle {
	display: flex;
	border-bottom: solid 1px #000;
}

.blogDate {
	width: 8.4vw;
	height: 8.4vw;
	background: #f17a79;
	border-radius: 50%;
}

.blogDate > p:first-child {
	font-size: 1vw;
	padding: 1.2vw 1.5vw 0;
	text-align: left;
}

.blogDate > p:last-child {
	font-size: 2.5vw;
	margin-top: -0.2vw;
}

.blogTitle > h3 {
	font-size: 1.87vw;
	padding-top: 6vw;
	padding-left: 1vw;
}



.blogLeft img {
	width: 100%;
	display: block;
	margin: 2.5vw auto;
}

.blogText p:first-child {
	border-bottom: solid 1px #000;
	padding-bottom: 2.5vw;
	text-align: left;
}

.blogText p:last-child {
	text-align: right;
}

.blogLeft > p {
	width: 34%;
	line-height: 4.8vw;
	margin: 10vw auto 0;
	border-radius: 1.1vw;
	background: #0c9bf6;
}

.blogLeft > p:hover {
	opacity: 0.6;
}

.blogLeft > p > a {
	width: 100%;
	height: 100%;
}


/*右側*/
.blogRight {
	width: 25%;
}

.blogRight img{
	width: 100%;
}

.backNumber > h4 {
	font-size: 1.87vw;
	line-height: 4vw;
	background: #f3ecda;
	margin-top: 2.5vw;
}

.backNumber li {
	background: #fff;
	text-align: left;
	font-size: 0.9vw;
	margin: 2.5vw 0;
	box-shadow: 0 3px 6px #bbb;
}

.backNumber li > p {
	margin: 0.5vw 1vw;
	box-sizing: border-box;
}




/*フッター*/
footer {
	width: 100%;
	line-height: 7.5vw;
	background: #f3ecda;
}


}

