@charset"utf-8";

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.warp {
    width: 80%;
    margin: 0 auto;
}

/**/
.header__heading {
    width: 100%;
    height: 80vh;
    padding-top: 1.5vw;
    display: flex;
    justify-content: space-around;
    background-image: url(../img/top.jpg);
    background-size: cover;
}

h1 {
    font-size: 4.5vw;
    color: #d2691e;
}

.header__content {
    width: 30%;
}

.header__texe {
    text-align: center;
    font-size: 1.8vw;
    padding-top: 0.2vw;
    color: white;
    border: 2px solid #ff8c00;
    background-color: #d2691e;
    border-radius: 10px;
}

.header__tel {
    text-align: center;
    font-size: 2vw;
    padding: 1vw 0;
    color: #d2691e;
}

/*ここまでヘッダー*/

/*ここからナビ*/


/*ここからナビの記述*/
.NavMenu{
    display: none;
}
.global-box {
    width: 76vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px auto;
    text-decoration: none;
}

a {
        text-align: center;
    display: block;
    box-sizing: border-box;
    width: 16vw;
    font-size: 1.4vw;
    padding: 1vw;
    font-weight: bold;
    background-color: orange;
    text-decoration: none;
    color: #fff;
    border-radius: 100px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;

}

a:hover {
    border-right: 1px solid #f90;
    border-bottom: 1px solid #f90;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
}

/*ここまでナビの記述*/

/*ここから事務所紹介*/
main {
    width: 70%;
    margin: 0 auto;
}

.concept__heading {
    width: 100%;
    margin: 2vw auto 1.5vw;
    font-size: 2vw;
    padding: 0.5vw 0 0.5vw 1vw;
    box-sizing: border-box;
    border-left: 1.5vw solid #d2691e;
    color: white;
    background-color: darkgray;
}

.concept__text {
    width: 80%;
    font-size: 1.4vw;
    line-height: 1.8vw;
    margin-left: auto;
    font-family: serif;
}

/*ここまで事務所紹介*/

/*ここからシステム*/
/*STEP01.02*/
.system__heading {
    width: 100%;
    margin: 3.5vw auto 1.5vw;
    font-size: 2vw;
    padding: 0.5vw 0 0.5vw 1vw;
    box-sizing: border-box;
    border-left: 1.5vw solid #d2691e;
    color: white;
    background-color: darkgray;
}

.system__box {
    width: 70%;
}

.system__catch {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    font-size: 2.4vw;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: orange;
    float: left;
}

.system__catch p {
    padding-top: 4vw;
}

.system__description {
    width: 65%;
    float: right;
}

.system__description--top {
    font-size: 1.9vw;
    padding-top: 0.5vw;
    padding-bottom: 0.2vw;
    border-bottom: 2px solid #000;
}

.system__text:first-child {
    margin-top: 0.8vw;
}

.system__text {
    font-size: 1.2vw;
    line-height: 1.3vw;

}

.system__link {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0.5vw auto;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
    background-color: orange;
    text-decoration: none;
    color: #fff;
    border-radius: 100px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;

}

.system__link:hover {
    border-right: 1px solid #f90;
    border-bottom: 1px solid #f90;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
}

/*ここまでSTEP01.03*/
/*ここからSTEP02*/
.system__box--center {
    width: 70%;
    margin-top: 10vw;
    margin-bottom: 10vw;
    margin-left: auto;

}

/*ここまでSTEP02*/
.foot {
    margin-top: 5vw;
    background-color: #d2691e;
}
h4{
    margin-bottom: 2vw;
}
.foot-box {
       width: 80%;
    padding: 2vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.foot-item {
    width: 25%;
    font-size: 1.2vw;
    color: white;
}

.link{
    text-align: center;
}