@charset"utf-8";
@media screen and (min-width:901px)
{

.mobile-display{
	display: none;
	}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
	display: block;
	content: "";
	clear: both;
}

ul{
	list-style:none;
}


.header-ul{
	display:flex;
	justify-content:space-around;
}

h1{
	font-size: 60px;
	color: #d2691e;
}

.tel-box{
	margin: 10px;
}

.tel{
	text-align:center;
	font-size: 20px;
	color: white;
	border: 2px solid #ff8c00;
	background-color: #d2691e;
	border-radius: 10px;
}

.tel-p{
	text-align: center;
	font-size: 30px;

	color:#d2691e;
}
.border-box{
	width: 100%;
	margin-bottom: 30px;
	border-bottom: 10px solid #d2691e;
}
/*ここからフォーム*/

.container{
	width: 77vw;
	margin: 0 auto;
	}
.formollbox{
	width: 30vw;
	height: 450px;
	border: 1px solid #000;
	background-color: rgba(255,255,255,0.8);
	}
ul{
	list-style: none;
	display: flex;
	padding: 0 ;
	}
.formbox{
	margin-left: 3%;
	}
h2{
	width: 62%;
	font-size: 1.7vw;
	margin: 0 auto;
	padding-top: 3%;
	padding-bottom: 1%;
	}
p{
	font-size: 80%;
	padding: 5px;
	}
input[type="text"]{
	width: 60%;
	padding: 5px;
	}
.labelname{
	margin-right: 10px;
	}
.sexbox{
	display: flex;
	}
input[type="radio"]{
	margin-left: 60px;
	}
.agebox{
	display: flex;
	}
.agep{
	padding-right: 30px;
	}
textarea{
	margin: 0 2%;
	padding: 2%;
	width: 26vw;
	height: 24vh;
	}
.foot{
	width: 20%;
	margin: 10px auto 0px;
	}
.guide{
	width: 40vw;
	margin: 20px 0px 0px 80px;
	background-color: rgba(255,255,255,0.6);
	}
.h3head{
	width: 300px;
	font-size: 2vw;
	margin: 0 auto;
	}
.h3body{
	border-bottom: 1px solid #000;
	}
.h3bodybox{
	width: 28vw;
	margin-left: 5%;
	}
.h3footbox{
	width: 28vw;
	margin-left: 30%;
	margin-top: 20px;
	}
.h3foot{
	border-bottom: 1px solid #000;
	}
.guidep{

	font-size: 100%
	}

/*ここまでフォーム*/
.border-box0{
	width: 100%;
	margin-top: 30px;
	border-bottom: 10px solid #d2691e;
}
.global-nav{
	width: 1000px;
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin: 20px auto ;
}

.global-li{
	text-align: center;
}

a{
	display: block;/*a要素をブロック要素に変更*/
	box-sizing: border-box;/*領域をボーダーを含むようにする*/
	width: 200px;/*ナビの箱の大きさ*/
	font-weight: bold;/*文字の太さ*/
	line-height: 3;/*文字からボーダーへの高さの領域*/
	background-color: orange;
	text-decoration: none;/*リンクのアンダーバーを消す*/
	color: #fff;
	border-radius: 10px;/*ナビの箱の角を丸くする*/
	border-right: 1px solid #000;/*箱の右に線を引く*/
	border-bottom: 1px solid #000;/*箱の下に線を引く*/
/*箱の右と左にだけ線を引くと影に見える*/
}

a:hover{
	border-right: 1px solid #f90;
	border-bottom: 1px solid #f90;
	color: #000;
	background-color: rgba(255,255,255,0.5);
}
/*ここまでナビの記述*/
}
